<div class="container">
 <div class="page">

   <div class="ever">
      <div class="right">
         <img src="image/Amazing.svg" alt="">
         <p> مشاهده همه </p>
      </div>
<!--
      <div class="left">
        <swiper-container slides-per-view="3" class="mySwiper" pagination="true">
        <swiper-slide>
          <div class="box">
             <div class="photo">
                <img src="image/phone.jpg" alt="">
             </div>
             <div class="para">
                <p>  گوشی موبایل اپل مدل iPhone 13  دو سیم‌ کارت </p>
             </div>
             <div class="price">
                <h3> 10% </h3><p> 52,490,000 </p>
                <h2><span> 47,450,000 </span> تومان </h2>
             </div>
             <div class="buy"></div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="box">
             <div class="photo">
                <img src="image/phone2.png" alt="">
             </div>
             <div class="para">
                <p>  ساعت مچی عقربه ای سون فرایدی مدل </p>
             </div>
             <div class="price">
                <h3> 4% </h3><p> 53,450,000 </p>
                <h2><span> 51,450,000 </span> تومان </h2>
             </div>
             <div class="buy"></div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
                <div class="photo">
                   <img src="image/phone3.png" alt="">
                </div>
                <div class="para">
                   <p>  ساعت مچی عقربه ای سون فرایدی مدل SF-P1/03C0092 </p>
                </div>
                <div class="price">
                   <h3> 2% </h3><p> 52,150,000 </p>
                   <h2><span> 51,450,000 </span> تومان </h2>
                </div>
                <div class="buy"></div>
             </div>
            </swiper-slide>
            <swiper-slide>
             <div class="box">
                <div class="photo">
                   <img src="image/phone4.png" alt="">
                </div>
                <div class="para">
                   <p>  اپل واچ سری 7 نسخه 41 میلی متری نارنجی </p>
                </div>
                <div class="price">
                   <h3> 1% </h3><p> 51,000,000 </p>
                   <h2><span> 50,450,000 </span> تومان </h2>
                </div>
                <div class="buy"></div>
             </div>
            </swiper-slide>
            <swiper-slide>
             <div class="box">
                <div class="photo">
                   <img src="image/phone3.png" alt="">
                </div>
                <div class="para">
                   <p>  ساعت مچی عقربه ای سون فرایدی مدل SF-P1/03C0092 </p>
                </div>
                <div class="price">
                   <h3> 5% </h3><p> 54,000,000 </p>
                   <h2><span> 51,450,000 </span> تومان </h2>
                </div>
                <div class="buy"></div>
             </div>
            </swiper-slide>
            <swiper-slide>
             <div class="box">
                <div class="photo">
                   <img src="image/phone6.png" alt="">
                </div>
                <div class="para">
                   <p>  هدفون مخصوص بازی اونیکوما مدل k10 Pro </p>
                </div>
                <div class="price">
                   <h3> 20% </h3><p> 53,430,000 </p>
                   <h2><span> 46,450,000 </span> تومان </h2>
                </div>
                <div class="buy"></div>
             </div>
            </swiper-slide>
            <swiper-slide>
             <div class="box">
                <div class="photo">
                   <img src="image/phone7.png" alt="">
                </div>
                <div class="para">
                   <p> هدفون بی سیم سامسونگ مدل Galaxy Buds Live </p>
                </div>
                <div class="price">
                   <h3> 3% </h3><p> 52,800,000 </p>
                   <h2><span> 51,450,000 </span> تومان </h2>
                </div>
                <div class="buy"></div>
             </div>
            </swiper-slide>
            <swiper-slide>
             <div class="box">
                <div class="photo">
                   <img src="image/phone8.png" alt="">
                </div>
                <div class="para">
                   <p>  هندزفری بلوتوثی مدل  inpods 12 </p>
                </div>
                <div class="price">
                   <h3> 12% </h3><p> 56,000,000 </p>
                   <h2><span> 51,450,000 </span> تومان </h2>
                </div>
                <div class="buy"></div>
             </div>
            </swiper-slide>
           </swiper-container>
      </div>-->

 </div>
</div>
</div>

<div class="b-g">
<div class="study">
    <div class="matn">
        <h2> طاقچه اهل مطالعه </h2>
        <p> در طاقچه پارس کالا کتاب‌های روانشناسی، رمان و داستان، کتاب‌های تاریخی، کتاب فلسفی و هزاران کتاب رایگان برای دانلود وجود دارد. </p>
    </div>
    <div class="picture">
         <div class="pic">
            <img src="image/book.jpg" alt="">
            <div class="offer">
               <p> 8% </p>
            </div>
         </div>
         <div class="pic">
            <img src="image/book2.jpg" alt="">
            <div class="offer">
               <p> 31% </p>
            </div>
         </div>
         <div class="pic">
            <img src="image/book3.jpg" alt="">
            <div class="offer">
               <p> 51% </p>
            </div>
         </div>
         <div class="pic">
            <img src="image/book4.jpg" alt="">
            <div class="offer">
               <p> 28% </p>
            </div>
         </div>
         <div class="pic">
            <img src="image/book5.jpg" alt="">
            <div class="offer">
               <p> 5% </p>
            </div>
         </div>
         <div class="pic">
            <img src="image/bk6.jpg" alt="">
            <div class="offer">
               <p> 48% </p>
            </div>
         </div>
    </div>
</div>
</div>
<div class="baner">
   <div class="b-n">
      <img src="image/baner.jpg" alt="">
   </div>
   <div class="b-n">
      <img src="image/baner2.jpg" alt="">
   </div>
   <div class="b-n">
      <img src="image/baner3.jpg" alt="">
   </div>
   <div class="b-n">
      <img src="image/baner4.jpg" alt="">
   </div>
</div>