<div class="ever">
  <div class="up-header">
    <div class="right">
      <div class="photo">
        <img src="image/br.png" alt="brand" />
      </div>
      <div class="form">
        <form [formGroup]="myform" (keypress)="clicked()">
          <p-iconField iconPosition="right">
            <p-inputIcon styleClass="pi pi-search" />
            <input
              type="text"
              pInputText
              placeholder=" جستجو "
              formControlName="search"
            />
          </p-iconField>
        </form>
      </div>
    </div>
    <div class="butt">
      <p-button
        label=" ورود / ثبت نام "
        [outlined]="true"
        severity="secondary"
      />
    </div>
  </div>
  <div class="down-header">
    <div class="right">
      <ul>
        <li>دسته بندی کالاها</li>
        <li>صفحه اصلی</li>
        <li class="position">
          <img src="image/store.png" alt=" ایکون " /> لیست کالا ها
          <ul class="p-h">
            <ul class="list">
              <li class="title">آرایشی بهداشتی و سلامت</li>
              <li>فروش ویژه</li>
              <li>صورت و مو</li>
              <li>کودک و نوزاد</li>
            </ul>
            <ul class="list">
              <li class="title">کالای دیجیتال</li>
              <li>ساعت هوشمند</li>
              <li>کنسول و بازی</li>
              <li>بدون دسته‌بندی</li>
              <li>لپ تاپ</li>
              <li>گوشی و موبایل</li>
            </ul>
            <ul class="list">
              <li class="title">کالاهای سوپرمارکتی</li>
              <li>راهنمای کودک</li>
              <li>خوردنی و آشامیدنی</li>
              <li>مواد شوینده</li>
              <li>غذا حاظری</li>
            </ul>
          </ul>
        </li>
        <li>سوالی دارید؟</li>
      </ul>
    </div>
    <div class="left">
      <span> فروش ویژه </span>
    </div>
  </div>
</div>
