<div class="ever font-para">
  <div class="buy">
    <h2>راهنمای خرید</h2>
    <ul>
      <li>نحوه ثبت سفارش</li>
      <li>رویه ارسال سفارش</li>
      <li>شیوه‌های پرداخت</li>
      <li>رویه‌های بازگرداندن کالا</li>
    </ul>
  </div>
  <div class="product">
    <h2>با پارس کالا</h2>
    <ul>
      <li class="font">حریم خصوصی</li>
      <li>شرایط استفاده</li>
      <li>رویه‌های بازگرداندن کالا</li>
      <li>پاسخ به پرسش‌های متداول</li>
    </ul>
  </div>
  <div class="about">
    <h2>درباره ما</h2>
    <ul>
      <li>اتاق خبر پارس کالا</li>
      <li>فروش در پارس کالا</li>
      <li>فرصت‌های شغلی</li>
      <li>تماس با پارس کالا</li>
    </ul>
  </div>
  <div class="icon">
    <h2>رسانه های خبری ما</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
