<div class="ever">
    <div class="page">

    <div class="title">
         <h2>  پرفروش‌ترین کالاها </h2>
    </div>
    <div class="boxes">
        <div class="box">
            <div class="product">
                <div class="img">
                    <img src="image/example/fv.jpg" alt="">
                </div>
                <div class="num">
                    <p> 1 </p>
                </div>
                <div class="para">
                    <h2> خودرو هيونداي اتوماتيک سال 2017 فول آپشن </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv2.jpg" alt="">
                </div>
                <div class="num">
                    <p> 2 </p>
                </div>
                <div class="para">
                    <h2> گوشی موبایل اپل مدل iPhone 13  دو سیم‌ کارت </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv3.png" alt="">
                </div>
                <div class="num">
                    <p> 3 </p>
                </div>
                <div class="para">
                    <h2> آیفون 13 پرو مکس 512 گیگابایت دو سیمکارت </h2>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="product">
                <div class="img">
                    <img src="image/example/fv4.jpg" alt="">
                </div>
                <div class="num">
                    <p> 4 </p>
                </div>
                <div class="para">
                    <h2> کوله پشتی میلت مدل </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv5.png" alt="">
                </div>
                <div class="num">
                    <p> 5 </p>
                </div>
                <div class="para">
                    <h2> ساعت مچی عقربه ای سون فرایدی مدل </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv6.png" alt="">
                </div>
                <div class="num">
                    <p> 6 </p>
                </div>
                <div class="para">
                    <h2> کوله پشتی میلت مدل PEUTEREY INTEGRALE </h2>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="product">
                <div class="img">
                    <img src="image/example/fv7.png" alt="">
                </div>
                <div class="num">
                    <p> 7 </p>
                </div>
                <div class="para">
                    <h2> گوشی موبایل اپل مدل iPhone 13 Pro Max </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv8.png" alt="">
                </div>
                <div class="num">
                    <p> 8 </p>
                </div>
                <div class="para">
                    <h2> اپل واچ سری 7 نسخه 41 میلی متری نارنجی </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv9.png" alt="">
                </div>
                <div class="num">
                    <p> 9 </p>
                </div>
                <div class="para">
                    <h2> برگه قیسی اعلا طبیعی کرنلو ناتس </h2>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="product">
                <div class="img">
                    <img src="image/example/fv10.png" alt="">
                </div>
                <div class="num">
                    <p> 10 </p>
                </div>
                <div class="para">
                    <h2> ساعت مچی عقربه ای سون فرایدی مدل </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv11.png" alt="">
                </div>
                <div class="num">
                    <p> 11 </p>
                </div>
                <div class="para">
                    <h2> هدفون مخصوص بازی اونیکوما مدل </h2>
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="image/example/fv12.png" alt="">
                </div>
                <div class="num">
                    <p> 12 </p>
                </div>
                <div class="para">
                    <h2> هدفون بی سیم سامسونگ مدل </h2>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>