<div class="ever">
  <div class="every-veb">
    <div class="veb1">
      <div class="article">
           <div class="box-veb">
                    <h2> مزیت های یادگیری کدنویسی </h2>
                <div class="mat">
                     <div class="person">
                       <p> مدیریت سایت </p>
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                    </div>
                    <div class="time2">
                       <p> 1403,04,18 </p>
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z"></path></svg>
                    </div>   
                </div>  
             </div>
      </div>
             <div class="article2">
                <div class="box-veb2">
                     <h2> فنون طراحی وب سایت وردپرسی </h2>
                     <div class="mat">
                          <div class="person">
                               <p> مدیریت سایت </p>
                               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                            </div>
                            <div class="time2">
                               <p> 1402,08,13 </p>
                               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z"></path></svg>
                            </div>  
                     </div>
             </div>
             </div>
             
      </div>
      <div class="veb2">
           <div class="article3">
                   <div class="box-veb3">
                <h2> کارهایی که باید در طراحی رعایت کنید </h2>
            <div class="mat">
                 <div class="person">
                   <p> مدیریت سایت </p>
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                </div>
                <div class="time2">
                   <p> 1402,09,05 </p>
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z"></path></svg>
                </div>   
            </div>  
         </div>
           </div>
           <div class="article4">
                  <div class="box-veb4">
           <h2> راه های ارتباط درست با کارفرما </h2>
       <div class="mat">
            <div class="person">
              <p> مدیریت سایت </p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
           </div>
           <div class="time2">
              <p> 1401,12,25 </p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z"></path></svg>
           </div>   
       </div>  
    </div>
           </div>
         
      </div>
      <div class="veb3">
           <div class="article5">
                 <div class="box-veb5">
                <h2> ویژگی های یک فریلنسر </h2>
            <div class="mat">
                 <div class="person">
                   <p> مدیریت سایت </p>
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                </div>
                <div class="time2">
                   <p> 1402,01,02 </p>
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z"></path></svg>
                </div>   
            </div>
           </div>
             
         </div> 
      </div>
  </div> 


  <swiper-container
    class="mySwiper"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
    space-between="30"
    centered-slides="true"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
  >
    <swiper-slide>
      <img src="image/work.jpg" alt=" برند " />
    </swiper-slide>
    <swiper-slide>
      <img src="image/work2.jpg" alt=" برند " />
    </swiper-slide>
    <swiper-slide>
      <img src="image/work3.jpg" alt=" برند " />
    </swiper-slide>
    <div class="autoplay-progress" slot="container-end">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </swiper-container>
</div>
